<html lang="en">

<head>
  <title>Foxes! - Not Allowed</title>
  <%- include('_partials/head') %>
</head>

<body>
  <h1>Database Query Blocked</h1>

  <a name="me" rel="nofollow"></a>  
  <%- include('_partials/nav') %>
  <hr>
  
  <p>
    Some nasty SQL was in your input, but my state of the art sql protection
    stopped it! Don't do that again!
  </p>

  <hr>
  <center><img src="https://vistaserv.this-is-a-l.ink/requests/injection-tracker"></center>
</body>

</html>
