<html lang="en">

<head>
  <title>Foxes! - Log In Failed</title>
  <%- include('_partials/head') %>
</head>

<body>
  <h1>Log In Failed</h1>

  <a name="me" rel="nofollow"></a>  
  <%- include('_partials/nav') %>
  <hr>
  
  <p>
    Your login failed! Make sure you're using the correct username and password. Don't have an account? Create one
    <a href="/create-account">here</a>!
  </p>

  <hr>
  <center><img src="https://vistaserv.this-is-a-l.ink/requests/injection-tracker"></center>
</body>

</html>
