<html lang="en">

<head>
  <title>Foxes! - Logged Out</title>
  <%- include('_partials/head') %>
</head>

<body>
  <h1>Logged Out!</h1>

  <a name="me" rel="nofollow"></a>  
  <%- include('_partials/nav') %>
  <hr>
  <p>You've been successfully logged out!</p>

  <hr>
  <center><img src="https://vistaserv.this-is-a-l.ink/requests/injection-tracker"></center>
</body>

</html>
